@import "../../../../style/variables.css";

.authorLink {
    text-decoration: none;
}

.authorChip {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--color-buttonColor);
    padding: 5px 15px 5px 8px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: fit-content;
}

.authorChip:hover {
    background-color: var(--color-hover);
}

.authorAvatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    background-color: var(--color-avatar);
}

.avatarImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatarPlaceholder {
    width: 100%;
    height: 100%;
    background-color: var(--color-avatar);
}

.authorName {
    color: var(--color-text);
    font-weight: 700;
    font-size: 14px;
}