@import "../../../style/variables.css";

/* стили для основного контейнера */
.main {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

/* стили для приветственной секции */
.welcomeSection {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: var(--color-background);
    width: 60%;
}

.welcomeTitle {
    color: black;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

/* стили для формы */
.formSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 5%;
    flex-direction: column;
    width: 40%;
    background-color: var(--color-buttonColor);
}

.formTitle {
    color: black;
    font-weight: 700;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.link {
    color: black;
    text-decoration: underline;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 0;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

/* ========== АДАПТИВ ========== */
@media (max-width: 1200px) {
    .welcomeTitle {
        font-size: 50px;
    }
    
    .formTitle {
        font-size: 45px;
    }
    
    .link {
        font-size: 24px;
    }
}

@media (max-width: 1000px) {
    .welcomeTitle {
        font-size: 40px;
    }
    
    .formTitle {
        font-size: 38px;
        letter-spacing: 3px;
    }
    
    .link {
        font-size: 20px;
    }
    
    .form {
        max-width: 350px;
    }
}

@media (max-width: 900px) {
    .welcomeTitle {
        font-size: 35px;
    }
    
    .formTitle {
        font-size: 32px;
        letter-spacing: 2px;
    }
    
    .link {
        font-size: 18px;
    }
    
    .formSection {
        padding: 30px 4%;
    }
}

@media (max-width: 768px) {
    .welcomeSection {
        display: none;
    }
    
    .formSection {
        width: 100%;
        padding: 20px 20px 0 20px;
        min-height: auto;
    }
    
    .formTitle {
        font-size: 36px;
        margin-bottom: 20px;
    }
    
    .link {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 0;
    }
    
    .form {
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .formSection {
        padding: 16px 16px 0 16px;
        justify-content: none;
    }
    
    .formTitle {
        font-size: 32px;
        margin-bottom: 15px;
        letter-spacing: 2px;
    }
    
    .link {
        font-size: 16px;
        margin-top: 12px;
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    .formSection {
        padding: 12px 16px 0 16px;
    }
    
    .formTitle {
        font-size: 28px;
        margin-bottom: 12px;
        letter-spacing: 1.5px;
    }
    
    .link {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 0;
    }
}